<section class="login-section">
  <div class="form-login-container">
    <form class="form-login" [formGroup]="loginForm" (submit)="login()">
      <h1>Organize suas salas de cinema</h1>

      <label class="form-login-label">
        Usuário
        <input id="inputUser" [(ngModel)]="username" formControlName="username">
      </label>

      <label class="form-login-label">
        Senha
        <input id="inputPassword" [(ngModel)]="password" formControlName="password" type="password">
      </label>

      <span class="form-login-error">{{errorMessage}}</span>

      <button class="form-login-button" type="submit">Entrar</button>
    </form>
  </div>
</section>
