/*@font-face {*/
/*  font-family: "TsukimiRounded";*/
/*  src: url("../../../assets/fonts/TsukimiRounded-Light.ttf") format('truetype')*/
/*}*/

.login-section, input {
  height: 100%;
}

.login-section h1 {
  margin: unset;
}

.form-login-container {
  width: 50%;
  height: 100%;
  background-color: var(--blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-login {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--white);
}

.form-login-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-login-label input {
  margin-top: .5rem;
  padding: .5rem;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
}

.form-login-label input:focus {
  outline: 2px solid var(--blue);
}

.form-login-error {
  margin-bottom: 1rem;
  font-size: .75rem;
  align-self: center;
  color: rgb(255, 0, 0);
}

.form-login-button {
  color: var(--white);
  font-weight: bold;
  width: 100%;
  height: 2.5rem;
  margin-bottom: .5rem;
  background-color: var(--blue);
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  transition: background-color .3s;
}

.form-login-button.disabled {
  transition: background-color .3s;
  background-color: gray;
  cursor: wait;
}
