<section class="login-section">
  <div class="form-login-container">
    <h1 class="form-login-header">Nolan</h1>
    <form [@fadeIn] class="form-login" [formGroup]="loginForm" (submit)="login()">

      <h1 class="form-login-title">Bem-vindo novamente!</h1>
      <h4 class="form-login-subtitle">Login de administrador</h4>

      <label class="form-login-label">
        Usuário
        <input id="inputUser" [(ngModel)]="username" formControlName="username">
      </label>

      <label class="form-login-label">
        Senha
        <input id="inputPassword" [(ngModel)]="password" formControlName="password" type="password">
      </label>

      <span class="form-login-error">{{errorMessage}}</span>

      <button class="form-login-button" type="submit">Entrar</button>
      <span class="form-login-create-user" (click)="createUser()">Criar Usuário</span>
    </form>
    <span class="copyright">© Nolan 2023</span>
  </div>
</section>
