<h2 class="new-movie-title" mat-dialog-title>Adicionar novo filme</h2>
<mat-dialog-content class="mat-typography">
  <form class="new-movie-form" [formGroup]="movieForm">
    <div class="input-container">
      Nome:
      <input class="form-name" formControlName="name" type="text">
    </div>
    <div class="input-container">
      Resumo:
      <input class="form-synopis" formControlName="synopis" type="text">
    </div>
    <div class="input-container">
      Sinopse:
      <input class="form-synopsisExpanded" formControlName="synopsisExpanded" type="text">
    </div>
    <div class="input-container">
      Banner:
      <label for="banner" class="form-banner">Enviar aquivo</label>
      <input id="banner" formControlName="banner" type="file" (change)="onFileSelected($event)">
    </div>
    <span class="form-error">{{errorMessage}}</span>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [disabled]="!movieForm.valid" mat-button (click)="addMovie()" cdkFocusInitial>Criar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</mat-dialog-actions>
