.card-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  margin: 0.5rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  transition: all 0.1s var(--cubic-bezier);
  height: 20rem;
}


.card-container:hover {
  transition: all 0.1s var(--cubic-bezier);
  box-shadow: 0 0 8px 0 var(--dark-gray);
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 16rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card-info {
  height: 4rem;
  display: flex;
  justify-content: center;
  padding: 0 1rem 0;
  align-items: center;
}

.card-title {
  display: flex;
  font-weight: bold;
  word-wrap: anywhere;
  overflow: scroll;
  text-align: center;
  cursor: default;
}

.card-actions {
  display: flex;
  gap: .25rem;
  position: relative;
  justify-content: flex-end;
  padding: 0 1rem .5rem;
}

.card-button {
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.25);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s cubic-bezier(.28,.77,.9,.29);
}

.card-button:hover {
  transition: all 0.1s cubic-bezier(.28,.77,.9,.29);
  box-shadow: 0 0 1px 1px #000;
}

.room-option-button {
  color: var(--red);
  height: fit-content;
  width: fit-content;
  padding: .25rem;
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: 2px solid var(--red);
  cursor: pointer;
  transition: all .1s;
}

.room-option-button:hover {
  color: var(--white);
  background-color: var(--red);
  border: 2px solid rgba(0, 0, 0, 0);
  transition: all .1s;
}

@media screen and (max-width: 1918px) {
  .card-title {
    font-size: 0.75rem;
  }

  .mat-icon {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1919px) {
  .mat-icon {
    font-size: 1.75rem;
  }
}

