<div class="home-container">
  <h1 class="home-title">Nolan Administração</h1>

  <mat-tab-group class="container-tab" animationDuration="200ms" dynamicHeight fitInkBarToContent >

    <mat-tab label="Filmes">
      <div class="add-movie-container">
        <button (click)="addMovie()" class="add-movie-button">Adicionar Filme</button>
      </div>

      <div class="movies-container">
        <div *ngFor="let movie of movieList;">
          <movie-card class="movies-container-item" [movie]="movie" />
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Salas">
      Salas com os filmes
    </mat-tab>

  </mat-tab-group>
</div>
