<div class="home-container">
  <h1 class="home-title">Nolan Administração</h1>

  <mat-tab-group (selectedTabChange)="updateAllLists()" class="container-tab" animationDuration="200ms" dynamicHeight
                 fitInkBarToContent>

    <mat-tab label="Filmes">
      <div class="add-container">
        <button (click)="addMovie()" class="add-button">Adicionar Filme</button>
      </div>

      <div class="movies-container">
        <div *ngFor="let movie of movieList;">
          <movie-card [movie]="movie"/>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Salas">
      <div class="add-container">
        <button (click)="addRoom()" class="add-button">Adicionar Sala</button>
      </div>

      <div class="rooms-container">
        <mat-expansion-panel class="room-info-container" *ngFor="let room of roomWithSessionList;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="room-title">Sala {{room.number}}</span>
            </mat-panel-title>
            <mat-panel-description class="room-container-description">
              <mat-icon fontIcon="delete" class="room-option-button" (click)="deleteRoom(room)"/>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng-container class="sessions-container" *ngIf="!isSessionlessRoom(room);else no_sessions_content">
            <div class="sessions" *ngFor="let session of room.sessions">
              <mat-icon class="session-option-button" (click)="deleteSession(session)" fontIcon="delete"/>
              <mat-icon class="session-option-button" (click)="editSession(session)" fontIcon="edit"/>
              <div class="session-info">
                {{formatDateToView(session.time)}}
              </div>
              <div class="session-info">
                {{session.movieName}}
              </div>
            </div>

            <mat-icon class="new-session-button" (click)="addSession(room)" fontIcon="add"/>
          </ng-container>
          <ng-template #no_sessions_content>
            <div class="no-sessions-found"> Nenhuma sessão encontrada</div>
          </ng-template>
        </mat-expansion-panel>
      </div>

    </mat-tab>

    <mat-tab label="Parâmetros">
      Configurações gerais
    </mat-tab>

  </mat-tab-group>
</div>
