/* You can add global styles to this file, and also import other style files */

:root {
  /* Main Pallete */
  --main-light-gray: #C5C6D0;
  --main-white: #FFFFFA;
  --main-ghost-white: #F8F7FF;
  --main-cyan: #78CDD7;
  --main-light-blue: #44A1A0;
  --main-blue: #247B7B;
  --main-dark-blue: #0D5C63;

  /* Secondary Pallete */
  --main-dark-red: #4f000b;
  --main-red: #720026;
  --main-light-red: #ce4257;
  --main-light-orange: #FF7F51;
  --main-yellow: #ff9b54;

  --border-radius: 6px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

