/* You can add global styles to this file, and also import other style files */

:root {
  /* Main Pallete */
  --light-gray: #C5C6D0;
  --white: #FFFFFA;
  --ghost-white: #F8F7FF;
  --cyan: #78CDD7;
  --light-blue: #44A1A0;
  --blue: #247B7B;
  --dark-blue: #0D5C63;

  /* Secondary Pallete */
  --dark-red: #4f000b;
  --red: #720026;
  --light-red: #ce4257;
  --light-orange: #FF7F51;
  --yellow: #ff9b54;

  /* Utility Pallete */
  --gray: #A9A9A9;

  --border-radius: 6px;
}

body {
  margin: 0;
  font-family: "Tsukimi-Medium", sans-serif;
}

